
venv/
.venv/
env/
ENV/
pyvenv.cfg

__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

*.zip
*.tar.gz
*.tgz
*.rar
*.7z
*.pkl
*.pth
*.h5
*.onnx
data/
datasets/
results/
list5/data/
list5/results/
identity_CelebA.txt
list_eval_partition.txt
img_align_celeba/

*.db
*.sqlite
*.sqlite3

.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
Thumbs.db